html{
  font-size: 62.5%;
}
body{
  font-family: Roboto;
  
  
}
main{

  font-size: 2rem;
}
.first-sec{
  height: 30rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 10rem;
  color: #33495E;
  font-weight: 500;
  font-size: 10rem;
  background-image: URL("./images/building-pastel-colors-balconies-beautiful-street.jpeg");
}
.first-content{
  margin-top: 1rem;
  word-spacing: 1rem;
}
