@media only screen and (min-width: 768px){
  body{
    padding-top: 8rem;
  }
.nav-bar{
  height: 7rem;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0; /*to keep on top of page*/
}
}