p,
label, .file {
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
}
.linkki-huolto {
  color: var(--black);
}
.file{
  
  margin: auto;
  margin-left: -2rem;
  cursor: pointer;



}

.otsikko {
  text-align: center;
  margin: 5rem 0 5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.tiedot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 12rem;
}
.tiedot > * {
  padding-block-end: 1rem;
  display: flex;
  flex-direction: row;
  /* width: 39rem; */
  justify-content: right;
  align-items: flex-end;
}

label {
  padding: 2px 1rem;
  margin-bottom: 0;
}

.asia-koskee {
  text-align: right;
}

.tiedot > * {
  margin: 0.3rem;
}

#tyyppi {
  width: 30rem;
  height: 1.9rem;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  font-size: 16px;
  padding: 0.2rem 1rem;
  border: none;
  box-shadow: 3px 0px 15px 0.5px rgba(99, 99, 101, 0.6);
  font-family: "Poppins";
}

.kenttä {
  width: 30rem;
  height: 1.5rem;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border: none;
  box-shadow: 3px 0px 15px 0.5px rgba(99, 99, 101, 0.6);
  font-family: "Poppins";
}
.viesti {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 1;
  padding-block-end: 1rem;
  align-items: flex-start;
}

textarea {
  font-size: 16px;
  border: none;
  box-shadow: 3px 0px 15px 0.5px rgba(99, 99, 101, 0.6);
  border-radius: 5px;
  width: 30rem;
  font-family: "Poppins";
  padding-left: 1rem;
}

.valinnat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 1;
}

.radio {
  margin: auto;
}

/* .kyllä-ei {
        width: 13rem;
        margin-left: auto;
    } */

.kysymys1 {
  margin-right: 5rem;
}
.kysymys2 {
  margin-right: 0;
}
.kysymys3 {
  margin-right: 8rem;
}
.kyllä-ei {
  margin-right: 12.5rem;
}

.button-container {
  margin-block-end: 5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: right;
  width: 17rem;
  padding-top: 1.5rem;
  margin-right: 12rem;
}

.button {
  margin-top: 1rem;
  border: none;
}
.notification {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}